$grey:#5D636F;
$darkGrey:#C4C4C4;
$input-bg:#F2F2F2;
$orange:#FF6C00;
$white:#fff;
$black:#000;
$green:#0E8543;
$light-green:#7DC142;
$lightGreenBg:rgba(14, 133, 67, 0.1);
$red:#DE4F60;
$redLightBg:rgba(222, 79, 96, 0.1);
$backdrop:rgba(93, 99, 111, 0.7);
$footerBg:#EDF0F1;
$footerColor:#25333C;