<nav class="navbar">
  <a href="#" class="logo">
    <img src="assets\images\logo.png" alt="logo">
  </a>
  <ul class="nav-list">
    <li>
      <a href="#" class="nav-links active">Place an Ad</a>
    </li>
    <li>
      <a href="#" class="nav-links">Buyer Inquiries</a>
    </li>
    <li>
      <a href="#" class="nav-links">Support</a>
    </li>
    <li>
      <a href="#" class="nav-links">Pricing</a>
    </li>
    <li>
      <a href="#" class="nav-links">
        <img src="assets\images\mdi_account.png" class="user-icon" />
      </a>
    </li>
  </ul>
</nav>
<!-- banner Section -->
<div class="banner">
  <h3>Suyog Enterprises</h3>
  <h5 class="verified-text">
    <img src="assets\images\Vector.png" alt='verified' />
    Verified Supplier</h5>
</div>
<!-- Baner section -->

<!-- Products Section -->
<div class="container">
  <div class="showing-products-text">
    Showing all products
  </div>
  <div class="products">
    <div class="product-list">
      <ng-container *ngFor="let product of products;let i=index">
        <div class="card">
          <div class="product-image">
            <img [src]="product.image" [alt]="product.attributes.Brand" />
          </div>
          <div class="product-content">
            <div class="product-name" [title]="product.productName">{{product.productName}}</div>
            <div class="content">
              <div class="left-content">
                <div class="item">
                  Attribute 1: {{product.attributes.Brand}}
                </div>
                <div class="item">
                  Attribute 2: {{product.attributes.Color}}
                </div>
                <div class="item">
                  Attribute 3: {{product.attributes.Material}}
                </div>
                <div class="item">
                  {{product.minOrders}} pieces (Min. Order)
                </div>
                <div class="product-location small-text">
                  <img src="assets\images\location.png" alt="location" />{{product.location}}
                </div>
              </div>
              <div class="right-content">
                <div class="item small-text">
                  <img src="assets\images\mdi_truck-delivery.png" alt="vechicle" /> Usually {{product.deliveryTime}}
                </div>
                <div class="item">
                  <div class="stars-outer">
                    <div class="stars-inner" [style.width]="product.width"></div>
                  </div>
                </div>
                <div class="item" *ngIf="!product.productPrice">
                  <button class="btn theme-button">Ask for price</button>

                </div>
                <div class="item price" *ngIf="product.productPrice">
                  &#x20B9;{{product.productPrice}} / Piece
                </div>
              </div>
            </div>
          </div>
          <div class="product-actions">
            <div class="icons">
              <a  (click)="edit(product)"><i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a *ngIf="product.showDelete" (click)="delete(product)"><i class="fa fa-trash-o"  aria-hidden="true"></i>
              </a>
            </div>
            <button class="btn theme-button">
              <img src="assets\images\heart-icon.png" alt="add to favourite" />
              Add to favorite</button>
            <button class="btn theme-button">
              <img src="assets\images\compare-icon.png" alt="add to favourite" /> Add to compare</button>
            <button class="btn theme-button">
              <img src="assets\images\add-to-compare-icon.png" alt="add to favourite" /> Shortlist product</button>
            <button class="btn theme-button"><img src="assets\images\add-to-cart-icon.png" alt="add to favourite" /> Add
              to cart</button>
            <button class="btn theme-button"> <img src="assets\images\asking-question.png" alt="add to favourite" />
              Contact seller</button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="actions">
      <button class="btn theme-button" (click)="addProduct()">Add Product</button>
      <button class="btn remove-product" (click)="removeProductButton()">Remove Products</button>
    </div>
  </div>
</div>
 <!-- pager -->
 <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>
<footer>
  <span> ©All rights reserved Company name 2020</span>
  <span>Designed & Developer by 
    <img src="assets\images\logo.png" alt="">
  </span>
</footer>
<!-- Modal -->
<div class="modal" id="exampleModal" *ngIf="isModalShow">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="left-section">
          <input type="text" placeholder="Enter image url" name="imageUrl" [(ngModel)]="editdata.image">
        </div>
        <div class="right-section">
          <div class="input-close">
            <input type="text" name="name" [(ngModel)]="editdata.productName" placeholder="Product name">
            <span aria-hidden="true" (click)="closeModal()"><span class="border">
              <img src="assets\images\times.png" alt="colose"/>
              </span></span>
          </div>
          <div class="product-data">
            <div class="first-section">
              <div class="form-row">
                <label for="">Material </label>
                <input type="text" class="item" name="material" [(ngModel)]="editdata.attributes.Material">
              </div>
              <div class="form-row">
                <label for="">Color </label>
                <input type="text" class="item" name="color" [(ngModel)]="editdata.attributes.Color">
              </div>
              <div class="form-row">
                <label for="">Brand </label>
                <input type="text" class="item" name="brand" [(ngModel)]="editdata.attributes.Brand">
              </div>
              <div class="form-row">
                <label for="">Location</label>
                <input type="text" class="item" name="loc" [(ngModel)]="editdata.location">
              </div>
              <div class="form-row">
                <label for="">Pieces (min order)</label>
                <input type="text" class="item" name="pieces" [(ngModel)]="editdata.minOrders">
              </div>
            </div>
            <div class="middle-section">
              <div class="form-row">
                <label for=""> Delivery Time </label>
                <input type="text" class="item" name="time" [(ngModel)]="editdata.deliveryTime">
              </div>
              <div class="form-row">
                <label for="">Rating</label>
                <input type="text" class="item" name="rating" [(ngModel)]="editdata.productRating">
              </div>
              <div class="form-row">
                <label for="">Price</label>
                <input type="text" class="item" name="price" [(ngModel)]="editdata.productPrice">
              </div>
            </div>
            <div class="end-section">
              <button class="btn theme-button" (click)='updateProduct()'>Update and Post</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="isModalShow"></div>